td {
	border:4px inset coral;
}
table {
	border:6px dotted MediumSpringGreen; 
	border-collapse: collapse;
}
body {
	margin-right: 200px;
	margin-left:200px ;
	background-color: Azure ;
}
div {
	background:LemonChiffon
}
.cats img {
	justify-content:space-around;
	width:180px;
	height:150px;
}
.cats {
	justify-content:space-around;
	display:flex;
}
img{
	background-image:url("https://masterfresok.ru/upload/iblock/10f/fotooboi-fon-iz-sireni-foto.jpg") ;
}
p,h2,h3  {
	text-align: center;
}
.konteuner {
	border: 6px aqua dotted;
	text-align: center;
}
